:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('../assets/images/background-blurred.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  --main-color: rgb(36, 181, 224);
  --main-text-color: rgb(225, 225, 225);
  --main-text-color-darker: rgb(161, 161, 161);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  height: 100%;
}

.mainBackground {}